# -----------------------------
# SYMFONY-ROOT
# -----------------------------

# Cache and logs (Symfony2)
symfony-root/app/cache/*
symfony-root/app/logs/*
!symfony-root/app/cache/.gitkeep
!symfony-root/app/logs/.gitkeep

# Email spool folder
symfony-root/app/spool/*

# Cache, session files and logs (Symfony3)
symfony-root/var/cache/*
symfony-root/var/logs/*
symfony-root/var/sessions/*
symfony-root/var/jwt/*
!symfony-root/var/cache/.gitkeep
!symfony-root/var/logs/.gitkeep
!symfony-root/var/sessions/.gitkeep
!symfony-root/var/jwt/.gitkeep

# Parameters
symfony-root/app/config/parameters.yml
symfony-root/app/config/parameters.ini

# Managed by Composer
symfony-root/app/bootstrap.php.cache
symfony-root/var/bootstrap.php.cache
symfony-root/bin/*
!symfony-root/bin/console
!symfony-root/bin/symfony_requirements
symfony-root/vendor/

# Assets and user uploads
symfony-root/web/bundles/
symfony-root/web/uploads/

# Assets managed by Bower
symfony-root/web/assets/vendor/

# PHPUnit
symfony-root/app/phpunit.xml
symfony-root/phpunit.xml

# Build data
symfony-root/build/

# Composer PHAR
composer.phar
symfony-root/composer.phar
symfony-root/composer.lock


# Backup entities generated with doctrine:generate:entities command
*/Entity/*~


# -----------------------------
# FRONT-ROOT
# -----------------------------

# Logs
front-root/logs
front-root/*.log
front-root/npm-debug.log*

# Runtime data
front-root/pids
front-root/*.pid
front-root/*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
front-root/lib-cov

# Coverage directory used by tools like istanbul
front-root/coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
front-root/.grunt

# node-waf configuration
front-root/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
front-root/build/Release

# Dependency directory
front-root/node_modules

# Optional npm cache directory
front-root/.npm

# Optional REPL history
front-root/.node_repl_history

front-root/.DS_Store

front-root/build/*
front-root/dist/*
front-root/src/js/config/app.templates.js
