<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <list-errors errors="$ctrl.errors"></list-errors>

    <form ng-submit="$ctrl.submitForm()">
      <fieldset ng-disabled="$ctrl.isSubmitting">

        <fieldset class="form-group has-feedback" >
          <input class="form-control form-control-lg"
            type="text"
            class="form-control"
            placeholder="Username"
            ng-model="$ctrl.formData._username" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </fieldset>

        <fieldset class="form-group  has-feedback">
          <input class="form-control form-control-lg"
            type="password"
            placeholder="Password"
            ng-model="$ctrl.formData._password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </fieldset>
        <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
                <button
                type="submit"
                class="btn btn-primary btn-block btn-flat"
                ng-bind="::$ctrl.title" >
                Sign In</button>
            </div>
        </div>

      </fieldset>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
